.card-title h4, .description h1{
    font-weight: 800;  
    color: white;  
}
.description h1{
    font-size: 65px;
}
.free-course-container{        
    padding: 70px;
    background-image: url('https://cdn.pixabay.com/photo/2016/09/08/12/00/stars-1654074_960_720.jpg');
    
   
}

.title,.subtitle{
    font-weight: 700 ;
    text-align: center;
    color: white;
    
    
}
h6{
    padding: 0 0 30px 0;
}
.card-content{
}
.main-icon-free{
    color: white;
}